html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.c-header {
    position: sticky;
}

.c-nav-item {
    margin-left: 3%;
    color: #AF6B1E;
}

.c-nav-color {
    color: black !important;
}

.c-nav-link {
    font-size: large;
}

.c-section1 {
    min-height: 710px;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
}

.c-first-color {
    height: 483px;
    background-color: #efe2d5;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
}

.c-text-block {
    position: absolute;
    top: 23%;
    left: 30%;
}

.c-first-text {
    font-family: Merriweather, serif !important;
    font-size: 5vw;
    font-weight: 700;
}

.c-font {
    font-family: Merriweather, serif !important;
}

.c-read-more-button {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    margin: 30px auto 0 0;
    padding: 10px 30px;
}

    .c-read-more-button:hover {
        color: dimgrey;
    }

.c-second-color-div {
    position: absolute;
    top: 37%;
    margin: 3%;
    display: flex;
}

.c-first-img-home {
    position: relative;
    left: 8%;
}

.c-third-img-home {
    position: relative;
    bottom: 100px;
}

.c-shadow {
    filter: drop-shadow(3px 5px 5px black);
}

.c-space-div {
    width: 80vh;
}

.c-categories-page {
    background-color: #efe2d5;
    height: 100%;
    height: 100vh;
    padding: 0px;
}

.c-category-row {
    background-color: white;
    min-height: 10%;
    border-radius: 15px;
    filter: drop-shadow(3px 3px 4px grey);
    display: flex;
    align-items: center;
    transition: transform 1s;
}

    .c-category-row:hover {
        transform:translateY(-10px)

    }

.c-category-text-div {
    font-size: 20px;
    margin-left: 3%;
    flex-grow: 8;
}

.c-category-text {
    font-weight: 400;
}

.c-category-remove-div {
    margin-right: 5%;
    margin-left: 4%;
    cursor: pointer;
}

.c-category-remove-div {
    margin-right: 5%;
    margin-left: 4%;
    cursor: pointer;
}

    .c-category-remove-div:hover {
        cursor: pointer;
        color: gray;
    }

.c-category-edit-div:hover {
    cursor: pointer;
    color: gray;
}

.c-confirm-button {
    border-radius: 40px;
    color: white;
    background-color: #BE6F5E;
}

.c-cancel-button {
    background-color: none;
    border-radius: 40px;
    border-color: #BE6F5E;
}

.c-add-button {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 40px;
    border-color: black;
    font-weight: 500;
}

.c-edit-modal-body {
    margin: 20px 0px;
}

.c-modal-footer {
    border-top: none !important;
}

.c-delete-modal-header {
    border-bottom: none;
}

.c-delete-confirmation-text {
    margin-top: 5%
}

.c-delete-modal-title {
    padding-left: 8rem !important;
    margin-top: 5px;
}

.c-delete-trash {
    border-radius: 50%;
    border-color: #e62222;
    border-style: solid;
    width: 70px;
}

.c-delete-modal-content {
    width: 75%;
}

.c-cancel-delete {
    border-color: #E62222;
    padding: 0.4rem 1rem;
}

.c-delete-button {
    border-radius: 40px;
    color: white;
    background-color: #E62222;
}

.c-form-check-input:checked {
    background-color: #cbacaa;
    border-color: #993d36;
}

.form-control:focus {
    border-color: #cbacaa;
    box-shadow: 0 0 0 0.25rem #cbacaa63;
}