html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.c-nav-item {
    margin-left: 3%;
    color: #AF6B1E;
}

.c-nav-link{
    font-size:large;
}

.c-section1 {
    min-height: 829px;
    padding: 0px !important;
    margin: 0px !important;
    position:relative;
    
}

.c-first-color {
    height: 483px;
    background-color: #efe2d5;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
}

.c-text-block {
    position: absolute;
    top: 23%;
    left: 30%;
}

.c-first-text {
    font-family: Merriweather, serif !important;
    font-size: 5vw;
    font-weight: 700;
}

.c-font {
    font-family: Merriweather, serif !important;
}
.c-read-more-button{
    color:black;
    text-decoration:none;
    border-style:solid;
    margin-top:20%;
    padding:3%;
}
.c-read-more-button:hover{
    color:dimgrey;
}