@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="c-section1">
    <div class="c-first-color">
        <div class="c-text-block">
            <h1 class="c-first-text">
                Yummy.&nbsp;
                <br />
                Fast.
            </h1>
            <p>Offering most delecious recipes of various cultures. </p>
            <a class="c-read-more-button">READ MORE</a>
        </div>
    </div>
</section>
