@page
@model RazorPagesRecipes.Pages.Categories.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}
<div class="c-categories-page">
    <h1 class="c-font c-categories-header pt-5 ms-5">Categories</h1>
    <div class="c-category-row my-4 mx-5">
        <div class="c-category-text-div  "><p class="c-category-text">Egyptian food</p></div>
    </div>
    <div class="c-category-row my-4 mx-5">
        <div class="c-category-text-div  "><p class="c-category-text">Italian food</p></div>

    </div>
</div>